
.banner {
   width: 35%;
   justify-content: flex-start;
   margin-left: 15px;
   margin-bottom: 15px;
 }

 #search-btn {
   background-color: white;
 }

 #search-box {
   background-color: white;
   width: 75%;
 }
 
 .parallax-container {
   min-height: 380px;
   line-height: 0;
   height: auto;
   color: rgba(255,255,255,.9);
 }
   
 .parallax-container .section {
     width: 100%;
   }
 
 .icon-block .material-icons {
   font-size: inherit;
 }
 
 .content {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   text-align: center;
 }

 /*Ticketmaster CSS*/
 .AttractionImg {
   max-width: 200px;
   max-height: 200px;
 }

 .hide-banner {
   display: none;
 }


 /* media queries */
 @media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }

  .banner {
    width: 100%;
    justify-content: flex-start;
    margin-left: 15px;
    margin-bottom: 15px;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }

  .banner {
    width: 100%;
    justify-content: flex-start;
    margin-left: 15px;
    margin-bottom: 15px;
  }
}

 
